<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses | Student Attendance</title>
    <link rel="icon" href="/public/img/title_icon.jpg" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/public/css/content-style.css" />
    <link rel="stylesheet" href="/public/css/main-style.css" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-custom">

        <!-- Navbar Start -->
        <header class="header p-3 position-absolute start-0 top-0 end-0">
            <div id="header" class="d-flex fixed-top justify-content-between align-items-center px-5 navbar-expand-md"
                style="height: 100px; background-color: #007CB7; transition: 0.5s ease;">
                <a href="/courses" class="text-decoration-none text-white fs-1 fw-bold">
                    <img src="/public/img/cosci_logo.png" alt="cosci logo" style="height: 4rem;">
                </a>

                <div>
                    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                            class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav justify-content-between fs-5" style="width: 450px; height: 100%">
                            <li class="nav-item">
                                <a class="nav-link text-white point__nav-link fw-bold" href="/courses"
                                    style="--pointer-color: white">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white point__nav-link" href="/edit-report"
                                    style="--pointer-color: white">Leave Requests</a>
                            </li>
                            <li class="nav-item">
                                <img src="/public/img/vertical_line.png" alt="" style="height: 45px; width: 45px;">
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" id="navbarDarkDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="bi bi-person-fill"></i></a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar End -->

        <!-- Flyout Navigation Start -->
        <nav class="collapse navbar-collapse dropdown-nav" id="navbar">
            <div class="dropdown-nav__container container-xxl d-flex align-items-center">
                <div class="row align-items-start">
                    <div class="col-12">
                        <a href="/courses" class="row text-decoration-none">
                            <h1 class="display-4 text-white">Courses</h1>
                        </a>
                    </div>
                    <div class="col-12 mt-4">
                        <a href="/edit-report" class="row text-decoration-none">
                            <h1 class="display-4 text-white">Leave Requests</h1>
                        </a>
                    </div>
                    <div class="col-12 mt-4">
                        <a href="/logout" class="row text-decoration-none">
                            <h1 class="display-4 text-white">Sign Out</h1>
                        </a>
                    </div>
                </div>

                <button class="navbar-toggler dropdown-nav__closeNavBtn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </nav>
        <!-- Flyout Navigation End -->

        <!-- Course Details Start -->
        <div class="container-fluid" style="padding: 130px 3rem 0 3rem;">
            <div class="my-4">
                <h1>Courses</h1>
            </div>

            <!-- Table -->
            <section>
                <div class="mb-3 d-flex justify-content-between">
                    <input type="text" id="myInput" name="myInput" placeholder="Search for courses"
                        class="form-control">
                </div>
                <div class="table-responsive" id="no-more-tables">
                    <table id="myTable" class="table bg-white table-striped">
                        <thead class="text-dark">
                            <tr>
                                <th>Semester</th>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Section</th>
                                <th>Number of Students</th>
                                <!-- <th>Attendance Rate</th> -->
                                <!-- <th>Take Attendance</th> -->
                            </tr>
                        </thead>
                        <tbody id="tableData">
                        <% for(var i=0; i < courses.length; i++) { %>
                            <tr>
                                <td>
                                    <%= courses[i].semester %>
                                </td>
                                <td>
                                    <%= courses[i].subject_code %>
                                </td>
                                <td>
                                    <%= courses[i].name %>
                                </td>
                                <td>
                                    <%= courses[i].section %>
                                </td>
                                <td>
                                    <%= courses[i].student_count %>
                                </td>
                                <td><a href="/attendance-create/<%= courses[i].subject_code %>-<%= courses[i].section %>"
                                        type="button" class="btn d-flex align-items-center justify-content-center w-75"
                                        style="background-color: #007CB7; height: 38px;"><i
                                            class="bi bi-play fs-4 text-white"></i></a></td>
                                <td><a href="/courses/<%= courses[i].subject_code %>-<%= courses[i].section %>"><i
                                            class="bi bi-chevron-right fs-4"></i></a></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- Table End-->

            <!-- Search Filter -->
            <script>
                $(document).ready(function () {
                    $('#myInput').on("keyup", function () {
                        var value = $(this).val().toLocaleLowerCase();
                        $("#tableData tr").filter(function () {
                            $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value) > -1)
                        });
                    });
                });

            </script>
            <!-- Search Filter -->
        </div>
        <!-- Course Details End -->


    </div>
</body>

</html>